.center {
    text-align: center;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 14pt;
}

#summ_all {
    font-weight: bold;
}

button {
    font-size: 18px;
    margin-left: 7px;
}